*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain{
    max-width: 900px;
    margin: 0 auto;
    
}
body{
    background-color:#FFFBDF ;
}
.signup{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 80px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 10px;
    border: 2px solid black;
}
.form_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}
.signup > h1{
    text-align: center;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}

input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
/* input:focus{
    outline-color: red;
} */
.button_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
button{
    background: transparent;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 8px;
    transform: 0.4s ease;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid black;
}
