*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    width: 90%;
    margin: 0 auto;
    
}

.card{
  
  text-align: center;
  height: 90%;
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
  box-shadow: 0px 4px 15px 3px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease , transform 0.4s ease;
  background-color: white;
  border-radius: 20px;

}
.card:hover{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    transform: scale(1.1);
    border: 2px solid black;
    border-radius: 20px;
}
.card > img{
    height: 100px;
    margin-top: 20px;
}
.card > p{
    line-height: 20px;
}
.card > .book{
    margin-top: 40px;
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    transform: 0.4s ease;
}

.book:hover{
    transform: scale(1.1);
    border: 2px solid black;
} 