*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    background-color: lightyellow;
    
}


/*
h1{
    position: absolute;
    left: 5%;
    top: 4%;
}
#category_dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.selection:hover #category_dropdown{
    display: block;
}

.selection label{
    margin-left: 40p;
}
.search{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

.search input{
    border: none;
    outline: none;
    background-color: #ffff;
    height: 100%;
    padding: 0px 10px;
    font-size: 20px;
    width: 350px;
}